[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chess = "*"
fastapi = "*"
unicorn = {extras = ["standard"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
pytest = "*"
requests = "*"
pytest-asyncio = "*"
httpx = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
